body {
  font-family: "Roboto", sans-serif;
  background-image: url("../../images/background1.png");
  background-size: cover;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;

  p {
    margin: 16px;
  }
}

.content {
  overflow: hidden;
  color: $white;
  min-height: calc(100vh);

  @include tablet {
    min-height: 300px;
  }
}

.section-cover {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: inherit;
}

img {
  max-width: 100%;
}

.button {
  display: block;
  margin: 24px auto;
}

.button-2 {
  background-color: $black;
  color: $white;
  padding: 16px;
  display: inline-block;
}

.button-3 {
  background-color: $main-yellow;
  padding: 16px;
  display: inline-block;
  color: $black;
}

.logos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.credits {
  margin-top: 24px;
  p {
    margin: 0;
  }
}

.logo {
  padding: 20px 0;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.yellow-accent {
  color: $main-yellow;
}

.red-accent {
  color: $main-red;
}

.yellow-background {
  background-color: $main-yellow;
  color: $black;
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}
