.heading-xl {
    font-size: 3.25rem;
    font-weight: 600;
    font-style: italic;
    display: inline;
}

.heading-lg {
    font-size: 1.875rem;
    font-weight: 500;
}

.heading-md {
    font-size: 1.5rem;
    font-weight: 500;
}

  
.body-1 {
    font-size: 1.125rem;
    font-weight: 500;
  }

.body {
  font-size: 1rem;
}

.small {
    font-weight: 600;
    font-size: 0.875rem;
    font-style: italic;
  }

.link {
  font-size: 1rem;  
  font-weight: 600;
  font-style: italic;
}