.heading-xl {
  font-size: 3.25rem;
  font-weight: 600;
  font-style: italic;
}

.heading-xl-light {
  font-size: 4.5rem;
  font-weight: 200;
  margin: 0;
}

.heading-lg {
  font-size: 1.875rem;
  font-weight: 500;
}

.heading-md {
  font-size: 1.5rem;
  font-weight: 500;
}

.body-2 {
  font-size: 1.625rem;
  font-weight: 400;
}

.body-1 {
  font-size: 1.125rem;
  font-weight: 500;
}

.small {
  font-weight: 600;
  font-size: 0.875rem;
  font-style: italic;
}

.link {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

.small-link {
  color: $black;
  font-size: 0.75rem;
}
