.intro-page {
  min-height: inherit;

  &.content-farms,
  &.intro-cover {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: inherit;
  }

  &.intro-cover {
  background-image: url("../../images/background2.png");
  }

  &.content-farms {
    background-image: url("../../images/background3.png");

    .space-background {
      background-image: url("../../images/background1.png");
      border-radius: 30px;
      padding: 36px;
    }
  }

  .intro-content {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h2, h3, p {
        max-width: 600px;
    }
  }

  .intro-text {
    margin: 0 auto;
    max-width: 560px;
    padding: 30px;
    border-radius: 30px;
    color: $black;

    p {
      margin-bottom: 24px;
    }
  }
  .intro-title {
    padding-bottom: 20px;
  }

  .credits {
    height: 100%;
    align-items: center;
    display: flex;
    align-items: flex-start;

    h2 {
        margin-top: -20px;
    }

    .credits-actors {
        min-height: 446px;
        padding-left: 60px;
    }
  }
}
