#story-page {
  position: relative;
    height: 100%;

  #player-wrapper {
    position: absolute;
  }

  .progress-bar-wrapper {
    height: 30px;
    width: 100%;
    background-color: $black;
    position: absolute;
    bottom: 0;
  }

  #progress-bar {
    margin: 0 auto;

  }

  #react-player {
    width: 100% !important;
    margin: 0 auto;
    height: calc(100vh - 56px) !important;

    @include tablet {
        height: auto !important;

      }
  }

  .controls {
    position: absolute;
    bottom: -30px;
  }

  iframe {
    height: 100%;
  }

  .show {
    display: block !important;
  }

  .hide {
    display: none;
  }
}
